{
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-async-generator-functions"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ]
}
